<div style="margin-top:55px;margin-bottom: 55px;margin-right:55px;margin-left:55px;">
    <div class="card" style="width: 18rem;">
      <img src="public/img/kedi2.jpg" class="card-img-top" alt="kedicik">
      <div class="card-body">
        <p class="card-text">Kediler şirindir.</p>
        <div class="float-right">
            <small class="text-muted">11 dakika önce</small>
        </div>
      </div>
    </div>
  </div>
