<form action="/login" method="post">
  <div style="width:320px;margin-top:40px;margin-right:auto;margin-left:auto;">
    <div class="card-header bg-info" style="color: white;">
      Giriş Yap
    </div>
    <div class="card-body">
      <input type="text" class="form-control" placeholder="kullanıcı adı" name="kullaniciad">
      <p>

      </p>
      <input type="password" class="form-control" placeholder="şifre" name="sifre">
    </div>
    <div class="card-footer clearfix">
      <div class="float-right">
        <button type="submit" name="button" class="btn btn-success">Giriş yap</button>
      </div>
      <div class="float-left">
        <small>Hesabın yok mu? <a href="/register">Kayıt ol</a></small>
      </div>
    </div>
  </div>
</form>
