<div>
  <form action="/mailyaz" method="post">
    Konu : <input type="text" name="konu" placeholder="konu"><br>
    Detay : <textarea name="icerik" rows="8" cols="80" placeholder="detaylar"></textarea><br>
    <button type="submit" name="gonder" title="Gönder" class="btn btn-success">Gönder</button>
  </form>
</div>
