<form action="/register" method="post">
  <div class="container">
  <div style="width:320px;margin-top:40px;margin-right:auto;margin-left:auto;">
    <div class="card-header bg-info" style="color: white;">
      Kayıt ol
    </div>
    <div class="card-body">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6"><input type="text" class="form-control" name="ad" placeholder="ad"></div>
          <div class="col-sm-6"><input type="text" class="form-control" name="soyad" placeholder="soyad"></div>
        </div>
      </div>
      <input type="text" class="form-control" placeholder="kullanıcı adı" name="kullaniciad">
      <p>

      </p>
      <input type="password" class="form-control" placeholder="şifre" name="sifre">
    </div>
    <div class="card-footer clearfix">
      <div class="float-left">
        <small>Hesabın var mı? <a href="/login">Giriş yap</a></small>
      </div>
      <div class="float-right">
        <button type="submit" name="button" class="btn btn-success">Kayıt ol</button>
      </div>
    </div>
  </div>
</div>
</form>
